* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: inherit;
	font-style: inherit;
	font-size: 16px;
}
*::before,
*::after {
    box-sizing: border-box;
}
html, body {
    background-color: rgb(10, 10, 10);
    font-family: Helvetica;
    height: 100%;
    letter-spacing: .1px;
}
h1, h2, h3, p {
    color: white;
}
hr {
    height: 8px; 
    color: #222222; 
    background-color: #222222
}