.presentation-screen-container {
    background: url(../assets/NetflixCover.jpg);
    position: relative;
    height: 720px;
    background-size: 100% auto;
}
.presentation-screen-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 40px 100px 20px #000000 ;
}
.presentation-wrapper {
    position: relative;
    z-index: 2;
}
.presentation-wrapper > div {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: -27px
}
.presentation-wrapper > div > button {
    font-size: 16px;
    border: 0;
    margin-right: 55px;
    line-height: 100%;
    height: 35px;
    border-radius: 3px;
    padding: 10px 20px;
    text-align: center;
    background-color: #E50914;
    color: #F2D8FF;
    cursor: pointer;
}
.presentation-wrapper > div > img {
    margin-left: 55px; 
    width: 135px;
}
.presentation-wrapper > section {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-top: 130px
}
.presentation-wrapper > section > h1 {
    text-align: center; 
    font-weight: bold; 
    font-size: 48px;
    line-height: 110%;
}
.presentation-wrapper > section > h2 {
    text-align: center; 
    font-size: 26px; 
    padding-top: 20px; 
    padding-bottom: 42px
}
.presentation-wrapper > section > span {
    margin-bottom: 20px;
}