.container {
    background: url(../assets/netflix-cover-2.jpg);
    position: relative;
    height: 720px;
    background-size: 100% auto;
}
.container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 40px 100px 20px #000000 ;
}
.text-wrapper {
    position: relative;
    z-index: 2;
}
.text-wrapper > div {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: -27px
}
.text-wrapper > section {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-top: 120px
}
.text-wrapper > div > button {
    font-size: 16px;
    border: 0;
    margin-right: 55px;
    line-height: 100%;
    height: 35px;
    padding-left: 20px;
    border-radius: 3px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #E50914;
    color: #F2D8FF
}
.text-wrapper > div > img {
    margin-left: 55px; 
    width: 135px;
}
.search-box {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    z-index: 2;
}
.search-box > input {
    width: 450px;
    height: 60px;
    font-size: 16.5px;
}
.search-box > button {
    height: 60px;
    width: 182px;
    background-color: #E50914; 
    color: white;
    border: 0;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box > button > i {
    margin-top: 8px;
    margin-left: 8px;
}
.search-box > button:hover {
    cursor: pointer;
    background-color: #F40612;
}