li:nth-child(4n - 7) {
    margin-left: 0px !important; 
}
.select {
    margin-top: 35px;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    width: 160px;
}
select {
    height: 50px;
    background-color: black;
    font-family: inherit;
    appearance: none;
    padding-left: 20px;
    color: #999999;
    border: 1.5px solid #333333;
    border-radius: 2px;
    /* text-align: center; */
    text-indent: 12px;
    padding-top: 4px;
}
select, 
.select::after, 
.select::before {
    grid-area: select;
}
.select {
    grid-area: select;
}
.select > i {
    position: absolute;
    margin-top: 5px;
    margin-left: 15px;
}
.select::after {
    justify-self: end;
    content: "";
    width: 10px;
    height: 6px;
    background-color: #999999;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    margin-right: 10px;
}
